.App {
  text-align: center;
  color: gold;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  background-color: #222;
  margin-top: -10px;
  margin-left: -9px;
  margin-right: -9px;
}

.navbar h2 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.navbar nav {
  display: flex;
  gap: 0px;
  
}

.navbar nav a {
    color: gold;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  display: block; 
margin-bottom: 10px;
}
.navbar nav a:hover {
  text-decoration: underline;
}

/* Redes sociais */
.social-links {
  display: flex;
  gap: 15px;
}

.social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #333;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-icon img {
  width: 25px;
  height: 25px;
}

.social-icon.instagram:hover {
  background-color: #e4405f;
}

.social-icon.facebook:hover {
  background-color: #3b5998;
}

.social-icon.whatsapp:hover {
  background-color: green;
}

.hero h1 {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.store-name {
  font-size: 64px;
  font-weight: bold;
  color: gold;
  text-shadow: 2px 2px 4px rgba(255, 215, 0, 0.8);
}

.search-container input[type="text"] {
  flex: 1;
  padding: 12px 20px;
  border: 2px solid gold;
  border-radius: 4px;
  font-size: 16px;
}

.produtos-container {
  margin-top: 100px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  text-align: center;
  color: gold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: gold;
  margin-top: 40px;
}

.cart-container {
  position: fixed;
  top: 0;
  right: 5px;
  z-index: 100;
}

.cart {
  display: none;
  background-color: #222;
  padding: 40px;
  color: gold;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.cart.show {
  display: block; /* Aparece quando a classe 'show' for adicionada */
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart ul li {
  margin-bottom: 10px;
}

button {
  background-color: gold;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ffd700;
}


#cartButton {
  background-color: gold;
  color: black;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.cart ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-header {
  display: flex;
  gap: 5px;
}

.cart-header button {
  padding: 5px 10px;
  font-size: 16px;
}


